<h2>Details</h2>
<div>
    <h4><span data-bind='text: jobTitle'> </span></h4>
    <table cellspacing="0" cellpadding="5" id="DetailsId">
        <tr>
            <td valign="top" id="DescriptionId">
                <span data-bind='text: jobDescription'> </span>
            </td>
            <td valign="top">
                <dl class="dl-horizontal">
                    <dt>
                        CompanyId
                    </dt>
                    <dd id="CompanyId">
                        <span data-bind='html: company'> </span>
                    </dd>
                    <dt>
                        SalaryFrom
                    </dt>
                    <dd id="SalaryFromId">
                        <span data-bind='text: salaryFrom'> </span>
                    </dd>
                    <dt>
                        SalaryTo
                    </dt>
                    <dd id="SalaryToId">
                        <span data-bind='text: salaryTo'> </span>
                    </dd>
                    
                    <dt>
                        EndDate
                    </dt>
                    <dd id="EndDateId">
                        <span data-bind='text: endDate'> </span>
                    </dd>
                    <dt>
                        Location
                    </dt>
                    <dd id="LocationId">
                        <span data-bind='text: location'> </span>
                    </dd>
                </dl>
            </td>
        </tr>
    </table>

</div>
