@model labnet.Models.Company

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Company</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index"><button class="btn btn-rounded" >Back to List</button></a>
</div>
<script>
    $(document).ready(function () {

        $('#myform').validate({
            rules: {
                Name: {
                    required: true,
                    minlength: 2,
                    maxlength: 20
                }

            },
            messages: {
                Name: {
                     required: "Please, enter company name",
                     minlength: "Your company name must consist of at least 2 characters"
                }
            }

        });

    });
</script>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
